#header{
    font-family: "Gupter";
    margin-bottom: 2px;
}

#icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px; 
    font-size: 20px;   

}

.icon{
    text-decoration: none;
}

#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;    
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

a, a:link, a:visited, a:hover, a:focus, a:active{
    
    text-decoration: none;
    color:black;
}

p{

    font-family: "Nunito Sans";
    font-size: 15px;
}
